* {
    list-style-type: none;
    padding: 0;
    margin:0;
    text-decoration: none;
}

@font-face {
    font-family: Archivo;
    src: url(../fonts/Archivo/Archivo-Bold.ttf);
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

html, body {
	scroll-behavior: smooth;
}

body{
    font-family: Lato;
    font-size: clamp(1.125rem, 0.3vw + 1rem, 1.188rem);
    // font-size:clamp(1.125rem, 0.6vw + 1rem, 1.375rem);
    // font-size: clamp(1.125rem, 0.8vw + 1rem, 1.5rem); 
    //clamp(1.125rem, 1vw + 1rem, 1.625rem);
}

h1, h2, h3, h4{
    font-family: Archivo;
    font-size: clamp(1.25rem, 0.5vw + 1rem, 1.375rem);;
    // font-size: clamp(1.375rem, 0.8vw + 1rem, 1.75rem);
    // font-size: clamp(1.375rem, 1vw + 1rem, 1.875rem);
    //clamp(1.375rem, 1vw + 1rem, 1.875rem);
}

h1{
    position: relative;
}
//le sous titrage orange des titres
h1::after{
    content: "";
    transform: translateX(-5%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: $thirdColor;
    height: 50%;
    width: 110%;
    border-radius: 15px;
}

a{
    color: black;
}

strong{
    font-weight: normal;
}

// style hover gradiant pour l'img linkedin sur contact/footer
.linkedin{
    a{
    background: linear-gradient(to right, $primaryColor, $thirdColor 50%, $fourthColor 50%, #76A9EA 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 200% 100%;
    background-position: 100%;
    @include transi(.4s);

        &:hover{
            background-position: 0 100%;
        }
    }
}
// style hover gradiant pour l'img github sur contact/footer
.github{
    a{
        background: linear-gradient(to right, $primaryColor, $thirdColor 50%,$fourthColor 50%, black 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        background-size: 200% 100%;
        background-position: 100%;
        @include transi(.4s);

            &:hover{
                background-position: 0 100%;
            }
    }
}
// animation bounce pour le bouton retour en haut de la page
.bounce {
    animation: bounce 2s infinite ease-in-out;
}
//les animations d'opacité + translate
.toAnimate.fadeFromLeft.active{
    animation: 1s fadeFromLeft ease 1 forwards;
}

.toAnimate.fadeFromRight.active{
    animation: 1s fadeFromRight ease 1 forwards;
}

.toAnimate.fadeFromBottom.active{
    animation: 1s fadeFromBottom ease 1 forwards, move 8s linear infinite alternate;;
}

.toAnimate.fadeIn.active{
    animation: 1s fadeIn ease 1 forwards;
}
// spécifique pour section contact pour rajouter l'animation lié à la background color
.toAnimate.fadeInContact.active{
    animation: 1s fadeIn ease 1 forwards, move 8s linear infinite alternate;;
}