* {
    list-style-type: none;
    padding: 0;
    margin:0;
    text-decoration: none;
}

html, body {
	scroll-behavior: smooth;
}

a{
    color: black;
}

// animation bounce pour le bouton retour en haut de la page
.bounce {
    animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-30%); }
    50%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}