@keyframes comeIn {
  0% {
    letter-spacing: 20px;
    color: rgba(255, 255, 255, 0);
  }
  70% {
    letter-spacing: 10px;
  }
  100% {
    letter-spacing: normal;
    color: black;
  }
}
@keyframes rotate {
  0% {
    background: linear-gradient(0deg, #5F5FF3 -2.98%, #B67DFF 68.14%, #FF83CD 104.54%);
  }
  100% {
    background: linear-gradient(360deg, #5F5FF3 -2.98%, #B67DFF 68.14%, #FF83CD 104.54%);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(-100%);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(-100%);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-130%);
  }
  50% {
    transform: scale(1, 1) translateY(-100%);
  }
  100% {
    transform: scale(1, 1) translateY(-100%);
  }
}
@keyframes move {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fadeFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fadeFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes glitch-anim-1 {
  0% {
    clip-path: polygon(0 0%, 100% 0%, 100% 5%, 0 5%);
  }
  10% {
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  20% {
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }
  30% {
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }
  40% {
    clip-path: polygon(0 35%, 100% 35%, 100% 35%, 0 35%);
  }
  50% {
    clip-path: polygon(0 45%, 100% 45%, 100% 46%, 0 46%);
  }
  60% {
    clip-path: polygon(0 50%, 100% 50%, 100% 70%, 0 70%);
  }
  70% {
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  80% {
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  90% {
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  100% {
    clip-path: polygon(0 60%, 100% 60%, 100% 70%, 0 70%);
  }
}
@keyframes glitch-anim-2 {
  0% {
    clip-path: polygon(0 15%, 100% 15%, 100% 30%, 0 30%);
  }
  15% {
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
  }
  25% {
    clip-path: polygon(0 8%, 100% 8%, 100% 20%, 0 20%);
  }
  30% {
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  45% {
    clip-path: polygon(0 45%, 100% 45%, 100% 45%, 0 45%);
  }
  50% {
    clip-path: polygon(0 50%, 100% 50%, 100% 57%, 0 57%);
  }
  65% {
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  75% {
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  80% {
    clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
  }
  95% {
    clip-path: polygon(0 45%, 100% 45%, 100% 60%, 0 60%);
  }
  100% {
    clip-path: polygon(0 11%, 100% 11%, 100% 15%, 0 15%);
  }
}
@keyframes glitch-anim-flash {
  0% {
    opacity: 0.2;
  }
  30%, 100% {
    opacity: 0;
  }
}
* {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

@font-face {
  font-family: Archivo;
  src: url(../fonts/Archivo/Archivo-Bold.ttf);
}
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Regular.ttf);
}
html, body {
  scroll-behavior: smooth;
}

body {
  font-family: Lato;
  font-size: clamp(1.125rem, 0.6vw + 1rem, 1.375rem);
}

h1, h2, h3, h4 {
  font-family: Archivo;
  font-size: clamp(1.375rem, 0.8vw + 1rem, 1.75rem);
}

h1 {
  position: relative;
}

h1::after {
  content: "";
  transform: translateX(-5%);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #ED872D;
  height: 50%;
  width: 110%;
  border-radius: 15px;
}

a {
  color: black;
}

strong {
  font-weight: normal;
}

.linkedin a {
  background: linear-gradient(to right, #620677, #ED872D 50%, #ffc040 50%, #76A9EA 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 200% 100%;
  background-position: 100%;
  transition: all 0.4s ease-in-out;
}
.linkedin a:hover {
  background-position: 0 100%;
}

.github a {
  background: linear-gradient(to right, #620677, #ED872D 50%, #ffc040 50%, black 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 200% 100%;
  background-position: 100%;
  transition: all 0.4s ease-in-out;
}
.github a:hover {
  background-position: 0 100%;
}

.bounce {
  animation: bounce 2s infinite ease-in-out;
}

.toAnimate.fadeFromLeft.active {
  animation: 1s fadeFromLeft ease 1 forwards;
}

.toAnimate.fadeFromRight.active {
  animation: 1s fadeFromRight ease 1 forwards;
}

.toAnimate.fadeFromBottom.active {
  animation: 1s fadeFromBottom ease 1 forwards, move 8s linear infinite alternate;
}

.toAnimate.fadeIn.active {
  animation: 1s fadeIn ease 1 forwards;
}

.toAnimate.fadeInContact.active {
  animation: 1s fadeIn ease 1 forwards, move 8s linear infinite alternate;
}

header {
  background-image: url(../images/background.png);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
header .logo {
  width: 50px;
}
header .imgContainer {
  width: 100%;
  padding: 0.3em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
header .imgContainer img {
  border: 5px black solid;
  border-radius: 50%;
  object-fit: cover;
  width: 70vw;
  max-width: 350px;
  z-index: 1;
}
header .imgContainer .glitchLayer {
  position: absolute;
  z-index: 3;
  border: 0px black solid;
}

.glitchLayer:nth-child(2) {
  transform: translateX(-2%);
  animation: glitch-anim-1 5s infinite linear alternate;
}

.glitchLayer:nth-child(3) {
  transform: translateX(1%) translateY(3%);
  animation: glitch-anim-2 5.5s -0.8s infinite linear alternate;
}

.glitchLayer:nth-child(4) {
  transform: translateX(2%);
  animation: glitch-anim-flash 4s infinite linear;
}

nav #navbar {
  position: fixed;
  top: 2%;
  right: 0;
  z-index: 7;
  background-color: rgba(0, 0, 0, 0.8);
  width: 0%;
  height: 0vh;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2.5em;
  padding: 6em 2em 0 0;
  visibility: hidden;
  opacity: 0;
  border-radius: 150px 0 0 150px;
}
nav #navbar.active {
  width: 60%;
  height: 350px;
  visibility: visible;
  opacity: 1;
}
nav #navbar a {
  color: white;
  font-size: 24px;
}

#burgerButton {
  position: fixed;
  top: 1.5em;
  right: 1em;
  z-index: 10;
  cursor: pointer;
  height: 2em;
  transition: all 0.3s ease-in-out;
}

#burger::after, #burger::before {
  content: "";
  position: absolute;
  display: inline-block;
}

#burger {
  position: relative;
  display: inline-block;
  transition: all 0.5s ease-in-out;
}
#burger.active {
  position: fixed;
  background: rgba(167, 1, 9, 0.8);
  height: 2.5em;
  top: 1.5em;
  right: 1em;
  border-radius: 50%;
  box-shadow: 0px 0px 3px white;
  z-index: 10;
}
#burger.active::after, #burger.active::before {
  top: 1.05em;
  left: 0.25em;
  background-color: white;
  box-shadow: 0px 0px 2px white;
  width: 2em;
}
#burger.active::after {
  transform: rotate(-45deg);
}
#burger.active::before {
  transform: rotate(45deg);
}

#burger, #burger::after, #burger::before {
  width: 2.5em;
  height: 0.3em;
  background-color: black;
  box-shadow: 0px 0px 5px white;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

#burger::after {
  top: -12px;
  left: 0;
}

#burger::before {
  top: 12px;
  left: 0;
}

#sectionAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background: linear-gradient(180deg, #620677 0%, #ED872D 100%, #ffc040 200%);
  animation: move 8s linear infinite alternate;
  background-size: 100% 200%;
  text-align: center;
  padding: 4em 0 10em;
  color: rgba(255, 255, 255, 0.795);
}
#sectionAbout h1 {
  padding: 0 0.5em 1em;
  font-size: clamp(1.438rem, 1vw + 1rem, 1.938rem);
  animation: 1s fadeIn ease-in-out 1;
}
#sectionAbout h1:after {
  display: none;
}
#sectionAbout h2, #sectionAbout p {
  padding: 0 1em 1em;
  animation: 1s fadeIn ease-in-out 1;
}
#sectionAbout a {
  color: #620677;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
#sectionAbout a:hover {
  color: white;
}

#sectionSkills {
  margin-top: -6em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3em;
  overflow: hidden;
}
#sectionSkills article {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fafafa;
  width: 80%;
  border-radius: 25px;
  box-shadow: 1px 1px 5px 0 #62067719;
  padding: 2em 1em;
  transform: translateX(-100%);
  opacity: 0;
}
#sectionSkills article div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}
#sectionSkills article div img {
  width: 18%;
  max-width: 60px;
}
#sectionSkills article img {
  width: 35%;
  max-width: 100px;
  align-self: center;
}
#sectionSkills article h1 {
  align-self: center;
}
#sectionSkills article p:first-of-type {
  padding-top: 1em;
}
#sectionSkills article p, #sectionSkills article img {
  padding-bottom: 1em;
}

#sectionGalerie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5em 0;
  gap: 1em;
}
#sectionGalerie .textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  opacity: 0;
  padding-bottom: 1em;
}
#sectionGalerie p {
  text-align: center;
  padding: 0 0.5em;
}
#sectionGalerie .imgContainer {
  position: relative;
  width: 90%;
  height: 50vw;
  max-height: 250px;
  overflow: hidden;
  border-radius: 25px;
  margin-bottom: 3em;
  box-shadow: 2px 2px 2px black;
  transform: translateX(-100%);
  opacity: 0;
}
#sectionGalerie .imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  transform-origin: top center;
}
#sectionGalerie .coverImg {
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5em;
  position: absolute;
  inset: 0 0 0 0;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
}
#sectionGalerie .coverImg.visible {
  background-color: #ED872D33;
  visibility: visible;
  opacity: 1;
}
#sectionGalerie .coverImg:hover img {
  transform: scale(1.2);
}
#sectionGalerie .coverImg .skillsList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;
}
#sectionGalerie .coverImg .skillsList li {
  padding: 0.3em 0.5em;
  margin-bottom: 0.4em;
  background-color: #620677;
  color: white;
  border-radius: 25px;
  box-shadow: 1px 1px 1px black;
  font-size: clamp(1.125rem, 0.2vw + 1rem, 1.375rem);
}
#sectionGalerie .coverImg a {
  padding: 0.3em 0.5em;
  border-radius: 25px;
  color: #620677;
  background-color: white;
  box-shadow: 1px 1px 1px black;
  transition: all 0.3s ease-in-out;
  font-size: clamp(1.125rem, 0.2vw + 1rem, 1.375rem);
}
#sectionGalerie .coverImg a:hover {
  background-color: #620677;
  color: white;
}

#sectionAvis {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  overflow: hidden;
}
#sectionAvis p:first-of-type {
  padding: 0 1em;
}
#sectionAvis .fadeIn {
  opacity: 0;
}
#sectionAvis article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  padding: 5em 0em 7em;
  overflow: hidden;
  width: 100%;
  transform: translateY(100px);
  opacity: 0;
}
#sectionAvis article .imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}
#sectionAvis article .imgContainer img {
  width: 40%;
  max-width: 300px;
  border-radius: 50%;
  overflow: hidden;
}
#sectionAvis article .listeAvis {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 70vw;
  max-height: 500px;
  width: 100%;
}
#sectionAvis article .listeAvis li {
  position: absolute;
  transition: all 0.3s ease-in-out;
}
#sectionAvis article .listeAvis li[data-order="1"] {
  transform: translateX(-150%);
  opacity: 0;
}
#sectionAvis article .listeAvis li[data-order="2"] {
  transform: translateX(0);
  opacity: 1;
}
#sectionAvis article .listeAvis li[data-order="3"] {
  transform: translateX(150%);
  opacity: 0;
}
#sectionAvis article .arrowPrev, #sectionAvis article .arrowNext {
  position: absolute;
  top: 18vw;
  z-index: 5;
  background-color: transparent;
  border-radius: 50px;
  width: 20px;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  transition: all 0.3s ease-in-out;
}
#sectionAvis article .arrowPrev i, #sectionAvis article .arrowNext i {
  width: 20px;
  height: 20px;
  font-size: 40px;
  position: relative;
}
#sectionAvis article .arrowPrev i:before, #sectionAvis article .arrowNext i:before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-25%, -25%);
}
#sectionAvis article .arrowPrev h3, #sectionAvis article .arrowNext h3 {
  position: absolute;
  width: 0px;
  opacity: 0;
  visibility: hidden;
}
#sectionAvis article .arrowPrev {
  left: 1em;
}
#sectionAvis article .arrowNext {
  right: 1em;
}
#sectionAvis article .avisContent {
  padding: 2em 1em;
  max-width: 700px;
}
#sectionAvis article .jobTitle {
  font-size: 16px;
}

#sectionContact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}
#sectionContact .textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3em 0em 10em 0em;
  background: linear-gradient(180deg, #620677 0%, #ED872D 100%, #ffc040 200%);
  background-size: 100% 200%;
  width: 100%;
  color: white;
  opacity: 0;
}
#sectionContact .textContainer h1 {
  display: inline-block;
  z-index: 1;
}
#sectionContact .textContainer p {
  padding: 1em;
}
#sectionContact .textContainer .contactInfo {
  padding-bottom: 0em;
}
#sectionContact .textContainer .contactInfo a {
  transition: all 0.3s ease-in-out;
  color: white;
}
#sectionContact .textContainer .contactInfo a:hover {
  text-shadow: 1px 1px 10px black;
}
#sectionContact .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5em;
  margin: 1em 0;
}
#sectionContact .socials a {
  font-size: clamp(2.188rem, 3vw + 1rem, 3.125rem);
}
#sectionContact form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: -10em;
  margin-bottom: 5em;
  padding: 1em;
  gap: 1em;
  width: 80%;
  background-color: #fafafa;
  border-radius: 25px;
  box-shadow: 2px 2px 2px black;
  z-index: 6;
  opacity: 0;
}
#sectionContact form input, #sectionContact form textarea {
  width: 100%;
  padding: 0.5em;
  border: none;
  border-radius: 12px;
  font-family: Archivo;
  transition: all 0.3s ease-in-out;
  position: relative;
  border-bottom: 2px #62067733 solid;
  box-sizing: border-box;
  font-family: Lato;
  font-size: clamp(1.125rem, 0.6vw + 1rem, 1.375rem);
}
#sectionContact form input:focus, #sectionContact form input:focus, #sectionContact form textarea:focus, #sectionContact form textarea:focus {
  outline: none;
  border-bottom: 2px #620677 solid;
}
#sectionContact form .inputContainer {
  width: 100%;
  position: relative;
}
#sectionContact form .textAreaContainer {
  width: 100%;
  position: relative;
}
#sectionContact form .textAreaContainer label:before {
  top: 15px;
}
#sectionContact form label:before {
  content: attr(title);
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  font-family: Lato;
  font-size: clamp(1.125rem, 0.6vw + 1rem, 1.375rem);
  transition: all 0.3s ease-in-out;
}
#sectionContact form input:focus + label:before, #sectionContact form input:valid + label:before, #sectionContact form textarea:focus + label:before, #sectionContact form textarea:valid + label:before {
  top: -2px;
  color: green;
}
#sectionContact form .button {
  width: auto;
  background-color: transparent;
  border: 2px #620677 solid;
  color: #620677;
  border-radius: 25px;
  padding: 0.5em 1em;
  display: inline-block;
  box-shadow: 1px 1px 1px black;
  font-size: clamp(1.125rem, 0.3vw + 1rem, 1.188rem);
  font-family: Archivo;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
#sectionContact form .button:hover {
  transform: scale(0.9);
  background-color: #620677;
  color: #fafafa;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  padding: 1em;
  background: linear-gradient(180deg, #620677 0%, #ED872D 100%, #ffc040 200%);
  animation: move 8s linear infinite alternate;
  background-size: 100% 200%;
}
footer p, footer a {
  color: #daddd8;
  transition: all 0.3s ease-in-out;
  font-size: clamp(0.063rem, 0.8vw + 0.75rem, 1.5rem);
}
footer #backToTopButton {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-100%);
  font-size: 50px;
  animation: bounce 2s ease-in-out infinite;
  margin-right: 5%;
  color: black;
}
footer .logo {
  align-self: flex-start;
  width: 60px;
  transition: all 0.3s ease-in-out;
}
footer .logo:hover {
  transform: scale(1.02);
}
footer .contactInfo {
  text-align: center;
  order: 2;
  width: 100%;
  padding: 1em 0 0 0;
}
footer .contactInfo a:hover {
  text-shadow: 1px 1px 10px black;
}
footer .contactInfo i {
  padding-bottom: 1em;
}
footer .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 40px;
}
footer .socials a {
  font-size: inherit;
}
footer #rgpd {
  width: 100%;
  font-size: 14px;
  text-align: center;
  order: 3;
}
footer #rgpd a {
  font-size: inherit;
  font-weight: 900;
  text-shadow: 0 0 2px black;
}
footer #rgpd a:hover {
  text-shadow: 1px 1px 10px black;
}

@media screen and (min-width: 900px) {
  header {
    padding: 1em 0 0 0;
  }
  header .logo {
    width: 70px;
    padding: 0.2em 0em 0.2em 0.5em;
  }

  #burgerButton {
    display: none;
  }

  nav {
    width: 100%;
    background-color: #daddd83f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 10%;
  }
  nav #navbar {
    display: block;
    position: static;
    background-color: transparent;
    width: auto;
    height: auto;
    opacity: 1;
    padding: 0;
    visibility: visible;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0em;
    border-radius: 0;
  }
  nav #navbar.active {
    width: auto;
    height: auto;
  }
  nav #navbar li:last-child {
    padding-right: 1em;
  }
  nav #navbar a {
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    padding: 1.1em 0.5em;
    transition: all 0.3s ease-in-out;
    border-bottom: 5px transparent solid;
    box-sizing: border-box;
    font-size: 22px;
  }
  nav #navbar a:hover {
    background: #58224667;
    border-bottom: 5px #582246 solid;
  }
}
@media screen and (min-width: 1500px) {
  header {
    background-position: center center;
  }
}
@media screen and (min-width: 380px) {
  #sectionAvis article .arrowPrev, #sectionAvis article .arrowNext {
    top: 25vw;
  }
  #sectionAvis article .arrowPrev {
    left: 2em;
  }
  #sectionAvis article .arrowNext {
    right: 2em;
  }
}
@media screen and (min-width: 550px) {
  #sectionAvis article .arrowPrev, #sectionAvis article .arrowNext {
    top: 8em;
  }
}
@media screen and (min-width: 600px) {
  #sectionSkills article {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    max-width: 400px;
  }

  #sectionGalerie {
    gap: 1em;
  }
  #sectionGalerie .imgContainer {
    width: 70%;
    margin-bottom: 1.5em;
  }
}
@media screen and (min-width: 650px) {
  #sectionAvis article .arrowPrev, #sectionAvis article .arrowNext {
    top: 30vw;
  }

  #sectionContact .textContainer p {
    width: 85%;
  }
}
@media screen and (min-width: 800px) {
  #sectionAbout p {
    width: 80%;
  }

  #sectionGalerie {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
  }
  #sectionGalerie .imgContainer {
    width: 45%;
  }

  #sectionAvis article .arrowPrev, #sectionAvis article .arrowNext {
    top: 10em;
    background-color: #ED872D;
  }
  #sectionAvis article .arrowPrev h3, #sectionAvis article .arrowNext h3 {
    position: absolute;
    width: 160px;
    opacity: 0;
    visibility: hidden;
    font-size: clamp(1.125rem, 0.5vw + 1rem, 1.375rem);
    transition: all 0.3s ease-in-out;
  }
  #sectionAvis article .arrowPrev {
    left: 2em;
  }
  #sectionAvis article .arrowPrev h3 {
    transform: translateX(0%);
  }
  #sectionAvis article .arrowNext {
    right: 2em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #sectionAvis article .arrowNext h3 {
    transform: translateX(0%);
  }
  #sectionAvis article .arrowPrev:hover, #sectionAvis article .arrowNext:hover {
    width: 160px;
  }
  #sectionAvis article .arrowPrev:hover h3, #sectionAvis article .arrowNext:hover h3 {
    opacity: 1;
    visibility: visible;
    transform: translateX(15%);
  }
  #sectionAvis article .arrowNext:hover h3 {
    transform: translateX(-15%);
  }
}
@media screen and (min-width: 900px) {
  #sectionSkills {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.3em;
  }
  #sectionSkills article {
    width: 27.5%;
    height: 60vw;
    max-height: 580px;
    max-width: 350px;
    padding: 2em 1em 0;
  }
  #sectionSkills article h1:after {
    visibility: hidden;
  }
}
@media screen and (min-width: 1000px) {
  #sectionAvis article .arrowPrev {
    left: 10vw;
  }
  #sectionAvis article .arrowNext {
    right: 10vw;
  }
}
@media screen and (min-width: 1100px) {
  #sectionGalerie {
    gap: 1.5em;
  }
  #sectionGalerie .imgContainer {
    width: 30%;
    max-width: 420px;
  }
}
@media screen and (min-width: 1157px) {
  #sectionSkills article h1:after {
    visibility: visible;
  }

  #sectionContact form {
    max-width: 1050px;
  }
}
@media screen and (min-width: 1200px) {
  #sectionAbout p {
    width: 70%;
  }

  #sectionContact .textContainer p {
    width: 70%;
  }

  #sectionAvis article .arrowPrev {
    left: 15vw;
  }
  #sectionAvis article .arrowNext {
    right: 15vw;
  }
}
@media screen and (min-width: 1360px) {
  #sectionSkills article {
    max-height: 630px;
  }
  #sectionSkills article h1:after {
    visibility: visible;
  }

  #sectionGalerie {
    gap: 1.5em;
  }
  #sectionGalerie .imgContainer {
    width: 30%;
    max-width: 420px;
    max-height: 280px;
  }
}
@media screen and (min-width: 1400px) {
  #sectionAvis article .arrowPrev {
    left: 20vw;
  }
  #sectionAvis article .arrowNext {
    right: 20vw;
  }
}
@media screen and (min-width: 1650px) {
  #sectionAvis article .arrowPrev {
    left: 27vw;
  }
  #sectionAvis article .arrowNext {
    right: 27vw;
  }
}
@media screen and (min-width: 700px) {
  footer {
    padding: 1em;
  }
  footer #backToTopButton {
    margin-right: 30px;
  }
  footer .logo {
    width: 90px;
  }
  footer .contactInfo {
    order: initial;
    width: auto;
    padding: 0;
  }
  footer #rgpd {
    order: initial;
  }
}
@media screen and (min-width: 900px) {
  footer {
    padding: 0.5em 1em 0.3em 1em;
  }
  footer .contactInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
