@media screen and(min-width: 380px){
    #sectionAvis{
        article{
            .arrowPrev, .arrowNext{
                top: 25vw;
            }

            .arrowPrev{
                left: 2em;
            }

            .arrowNext{
                right: 2em;
            }
        }
    }
}

@media screen and(min-width: 550px){
    #sectionAvis{
        article{
            .arrowPrev, .arrowNext{
                top: 8em;
            }
        }
    }
}

@media screen and(min-width: 600px){
    #sectionSkills{
        article{
            @include flex(flex-start, column, flex-start);
            width: 60%;
            max-width: 400px;
        }
    }

    //Section galerie
    #sectionGalerie{
        gap: 1em;
        .imgContainer{
            width: 70%;
            margin-bottom: 1.5em;
        }
    }
}

@media screen and(min-width: 650px){
    #sectionAvis{
        article{
            .arrowPrev, .arrowNext{
                top: 30vw;
            }
        }
    }

    #sectionContact{
        .textContainer{
            p{
                width: 85%;
            }
        }
    }
}

@media screen and(min-width: 800px){
    #sectionAbout{
        p{
            width: 80%;
        }
    }
    //Section galerie
    #sectionGalerie{
        @include flex(center, row);
        gap: 1em;
        .imgContainer{
            width: 45%;
        }
    }

    #sectionAvis{
        article{
            .arrowPrev, .arrowNext{
                top: 10em;
                background-color: $thirdColor;

                h3{
                    position: absolute;
                    width: 160px;
                    opacity: 0;
                    visibility: hidden;
                    font-size: clamp(1.125rem, 0.5vw + 1rem, 1.375rem);
                    @include transi;
                }
            }

            .arrowPrev{
                left: 2em;

                h3{
                    transform: translateX(0%);
                }
            }

            .arrowNext{
                right: 2em;
                @include flex(flex-end);

                h3{
                    transform: translateX(0%);
                }
            }

            .arrowPrev:hover, .arrowNext:hover{
                width: 160px;
                h3{
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(15%);
                }
            }

            .arrowNext:hover{
                h3{
                    transform: translateX(-15%);
                }
            }
        }
    }
}

@media screen and(min-width: 900px){
    #sectionSkills{
        @include flex(center, row, flex-start);
        gap: .3em;
    
        article{
            width: 27.5%;
            height: 60vw;
            max-height: 580px;
            max-width: 350px;
            padding: 2em 1em 0;

            h1{
                &:after{
                    visibility: hidden;
                }
            }
        }
    }
}

@media screen and(min-width: 1000px){
    #sectionAvis{
        article{
            .arrowPrev{
                left: 10vw;
            }

            .arrowNext{
                right: 10vw;
            }
        }
    }
}

@media screen and(min-width: 1100px){
    //Section galerie
    #sectionGalerie{
        gap: 1.5em;
        .imgContainer{
            width: 30%;
            max-width: 420px;
        }
    }
}

@media screen and(min-width: 1157px){
    #sectionSkills{
        article{
            h1{
                &:after{
                    visibility: visible;
                }
            }
        }
    }

    #sectionContact{
        form{
            max-width: 1050px;
        }
    }
}

@media screen and(min-width: 1200px){
    #sectionAbout{
        p{
            width: 70%;
        }
    }

    #sectionContact{
        .textContainer{
            p{
                width: 70%;
            }
        }
    }

    #sectionAvis{
        article{
            .arrowPrev{
                left: 15vw;
            }

            .arrowNext{
                right: 15vw;
            }
        }
    }
}

@media screen and(min-width: 1360px){
    #sectionSkills{
        article{
            max-height: 630px;
            h1{
                &:after{
                    visibility: visible;
                }
            }
        }
    }

    #sectionGalerie{
        gap: 1.5em;
        .imgContainer{
            width: 30%;
            max-width: 420px;
            max-height: 280px;
        }
    }
}

@media screen and(min-width: 1400px){
    #sectionAvis{
        article{
            .arrowPrev{
                left: 20vw;
            }

            .arrowNext{
                right: 20vw;
            }
        }
    }
}

@media screen and(min-width: 1650px){
    #sectionAvis{
        article{
            .arrowPrev{
                left: 27vw;
            }

            .arrowNext{
                right: 27vw;
            }
        }
    }
}